$royalBlue: #0054a6;
$darkRoyalBlue: #004385;
$white: #ffffff;
$grayishBlue: #f1f5f9;
$silveryBlue: #e2e8f0;
$powderBlue: #dbe9f5;
$pastelBlue: #e1ecf3;
$offWhite: #f5f5f5;
$aliceBlue: #eaf5ff;
$paleGrayBlue: #f8fafc;
$mutedBlue: #cbd5e1;
$lightGray: #f8f8f8;
$midnightBlue: #19172a;
$lightBluishGray: #a6b6c8;
$brightBlue: #459cea;
$brightRed: #cc0000;
$scarletRed: #ca4a4a;
$brightGreen: #428226;
$brightYellow: #e69138;
$smokeGray: #808080;
$bluishBlack: #0f172a;
$stormyBlue: #334155;
$dogerBlue: #2196f3;
$darkGray: #3c3c3c;
$neonGreen: #25d525;
$goldenBrown: #cd9e3f;
$softGray: #ddd;
$paleGray: #ccc;
$paleBlue: #c5e2ff;
$crimsonRed: #a60e00;
$silverGray: #c0c0c0;
$deepGray: #444;
$transparentGray: rgba(0, 0, 0, 0.1);
$transparentBlack: rgba(0, 0, 0, 0.5);
$translucentBlack: rgba(0, 0, 0, 0.24);
$semiTransparentWhite: rgb(255 255 255 / 25%);
$transparentLightGray: rgba(0, 0, 0, 0.2);
$transparentDarkGray: rgba(60, 64, 67, 0.3);
$translucentWhite: rgba(255, 255, 255, 0.75);
$fullyWhite: rgba(255, 255, 255, 0);
$semiTransparentWhite: rgba(255, 255, 255, 0.45);
